<!DOCTYPE html>
<html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <body>
    <div ng-app="" ng-init="firstname='danish'">
      <p>Name : <input type="text" ng-model="abc" /></p>
      <h1>Hello {{ abc }}</h1>
      <p ng-bind="abc">Hello</p>
      <p>variable initilized {{ firstname }}</p>
      <p ng-bind="firstname"></p>

      <p>my first express {{ 2 + 1 }}</p>
    </div>
  </body>
</html>
