<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
    <style></style>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="myapp" ng-controller="mycontroller">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <tr ng-repeat="x in records">
          <td>
            {{ x.id }}
          </td>
          <td>{{ x.name }}</td>
        </tr>
      </table>
    </div>
  </body>
  <script>
    let app = angular.module("myapp", []);

    app.controller("mycontroller", ($scope, $http) => {
      $http({
        url: "http://localhost/angular/users.php",
        method: "GET"
      }).then(function(response) {
        $scope.records = response.data;
      });
    });
  </script>
</html>
