<html>
  <head>
    <script src="angular.js"></script>
  </head>
  <body ng-app="myapp" ng-controller="mycontroller">
    <p ng-bind="name"></p>
    <p>inside p {{ name }}</p>
    <input type="text" ng-model="name" />
    <p>first name: {{ firstname }}</p>
    <p>first name: {{ lastname }}</p>
    <p ng-click="getfullname()">Get full name {{ fullname }}</p>
    <ul>
      <li ng-repeat="x in names">{{ x }}</li>
    </ul>
    <div><h1>danish</h1></div>
    <div ng-bind="myText" id="div"></div>
  </body>
  <script>
    let app = angular.module("myapp", []);

    app.controller("mycontroller", ($scope, $http) => {
      $scope.name = "Danish Shah";
      $scope.firstname = "John";
      $scope.lastname = "Doe";
      $scope.getfullname = () => {
        $scope.fullname = $scope.firstname + " " + $scope.lastname;
      };
      $scope.names = ["danish", "aftab", "usman"];

      $scope.nameget = () => {
        return "namegetfun";
      };

      $scope.myText = $scope.nameget();

      $http.get("https://tamirat-fbms.dawateislami.org").then(response => {
        html = response.data;
        let div = angular.element(document.querySelector("div"));
        //document.getElementById("div").innerHTML = html;
        div.html(response.data).css("border", "1px solid red");
      });
    });
  </script>
</html>
