<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
    <style></style>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="" ng-init="all=true;age=28">
      <p><button ng-disabled="switch">Switch</button></p>
      <p><input type="checkbox" ng-model="switch" />Button</p>

      <ul>
        <li>check all <input type="checkbox" ng-model="all" /></li>
        <li><input type="checkbox" ng-checked="all" /></li>
        <li><input type="checkbox" ng-checked="all" /></li>
        <li><input type="checkbox" ng-checked="all" /></li>
        <li><input type="checkbox" ng-checked="all" /></li>
      </ul>
      <p ng-show="true">Visible</p>
      <p ng-show="false">Not Visible</p>
      <p ng-show="age > 27">Age {{ age }}</p>
    </div>
  </body>
</html>
