<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
    <style></style>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="myapp" ng-controller="mycontroller">
      <div ng-mousemove="count = count + 1;">The count is {{ count }}</div>

      <div ng-click="factor()">FActor is {{ _factor }}</div>

      <div ng-click="custom($event)">Custom event</div>
    </div>
    <script>
      let app = angular.module("myapp", []);

      app.controller("mycontroller", $scope => {
        $scope.count = 0;
        $scope._factor = 1;

        $scope.factor = () => {
          $scope._factor = $scope._factor + $scope._factor;
        };

        $scope.custom = eve => {
          console.log(eve.type);
        };
      });
    </script>
  </body>
</html>
