<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="" ng-init="brothers=['danish','aftab','usman']">
      <ul>
        <li ng-repeat="names in brothers">
          {{ names }}
        </li>
      </ul>
    </div>
  </body>
  <script>
    var app = angular.module("myApp", []);

    app.filter("myFormat", function() {
      return function(x) {
        var i,
          c,
          txt = "";
        for (i = 0; i < x.length; i++) {
          c = x[i];
          if (i % 2 == 0) {
            c = c.toUpperCase();
          }
          txt += c;
        }
        return txt;
      };
    });

    app.controller("namesCtrl", function($scope) {
      $scope.names = [
        "Jani",
        "Carl",
        "Margareth",
        "Hege",
        "Joe",
        "Gustav",
        "Birgit",
        "Mary",
        "Kai"
      ];
    });
  </script>
</html>
