<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
  </head>
  <body style="background-color:lightgrey;">
    <!-- <div ng-app="myApp" ng-controller="myCtrl">My name is {{ name }}</div> -->
    <!-- <div ng-app="" ng-init="firstname='Danish';lastname='Shah';age=27">
      <p>
        <p>Your first name <input type="text" ng-model="firstname"> </p>
        <p>Your last name <input type="text" ng-model="lastname"> </p>
        <p>Your first age <input type="text" ng-model="age"> </p>
        <p>
         <p> Your first name : {{firstname}}</p>
        <p> Your last name : {{lastname}}</p>
        <p> Your age : {{age}}</p>
        </p>
      </p>
    </div> -->

    <!-- <div ng-app="" ng-init="qty=1;price=5">
      <p>
        <p> <input type="text" placeholder="" ng-model="qty"> </p>
        <p> <input type="text" placeholder="" ng-model="price"> </p>
        <p>Total amount {{ qty*price }} </p>
      </p>
    </div> -->

    <div ng-app="" ng-init="brothers=['danish','aftab','usman']">
      <ul>
        <li ng-repeat="names in brothers">
          {{ names }}
        </li>
      </ul>
    </div>
  </body>
  <script src="myapp.js"></script>
  <script src="myctrl.js"></script>
</html>
