<!DOCTYPE html>
<html lang="en-US">
  <!-- <script src="angular.js"></script> -->
  <!-- <script src="angular.js"></script> -->

  <body>
    <!-- <div ng-app="myApp" ng-controller="myController">
      {{ firstName + " " + lastName }}
    </div> -->
    <div></div>
    <sript src="myApp.js"></sript>
    <!-- <sript src="myController.js"></sript> -->
    <script>
      class Method_chain {
        num1 = 4;
        constructor() {
          //   alert("danish");
          //this.num1 = 4;
        }

        sum_numbers(value) {
          this.num1 += value;
          return this;
        }

        minus_number(value) {
          this.num1 -= value;
          return this;
        }

        show_number() {
          console.log(this.num1);
          return this;
        }

        addTextToDiv(text) {
          var div = document.getElementsByTagName("div")[0];
          div.innerHTML = text;
          return div;
          //return this;
        }

        addTBordertoDiv(border) {
          var div = document.getElementsByTagName("div")[0];
          div.style.border = border;
        }
      }

      var objectInstance = new Method_chain();
      //   objectInstance
      //     .sum_numbers(4)
      //     .show_number()
      //     .minus_number(1)
      //     .show_number()
      //     .sum_numbers(33)
      //     .show_number();
      //   objectInstance.show_number();
      //   a.sum_numbers(2);
      //   a.show_number();

      objectInstance.addTextToDiv("txt added to div").style.border =
        "1px solid red";
    </script>
  </body>
</html>
