<!DOCTYPE html>
<html lang="en-US">
  <script src="angular.js"></script>

  <!-- <body ng-app="">
    First expression {{ 5 + 5 }}
  </body> -->

  <body>
    <!-- <div
      ng-app=""
      ng-init="
    myColor='blue';
    mycolor='white';
    qty='3';
    price=50
    "
    >
      <div
        style="
      background-color:  {{ myColor }};
      color:{{ mycolor }}"
      >
        Test work
        <br />
        qty is {{ qty }} and price is {{ price }}
      </div>
    </div> -->

    <!-- <div id="objects" ng-app="" ng-init="persons={name:'danish',age:27}">
      The name is {{ persons.name }} <br />
      The age is {{ persons.age }}
    </div> -->

    <div
      id="bind"
      ng-app=""
      ng-init="person={name:'danish',age:27};asad={age:30}"
    >
      <p>The name is <span ng-bind="asad.age"></span></p>
    </div>
  </body>
</html>
