<!DOCTYPE html>
<html lang="en-US">
  <!-- <script src="angular.js"></script> -->
  <script src="angular.js"></script>

  <body>
    <div ng-app="myFourthApp" ng-controller="myFourthController">
      <p>My name is {{ name }}</p>
      <p>My age is {{ age }}</p>
    </div>
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
      {{ firstName + " " + lastName }}
    </div> -->

    <!-- <div ng-app="myAngularApp" ng-controller="myAngularController">
      My name is {{ name }} My age is {{ age }}
    </div> -->

    <script>
      //   var app = angular.module("myApp", []);

      //   app.controller("myCtrl", function($scope) {
      //     $scope.firstName = "John";
      //     $scope.lastName = "Doe";
      //   });

      // var app = angular.module("myAngularApp", []);
      // app.controller("myAngularController", function($scope) {
      //   $scope.name = "danish";
      //   $scope.age = 27;
      // });

      let app = angular.module("myFourthApp", []);

      app.controller("myFourthController", function($scope) {
        $scope.name = "Danish";
        $scope.age = 27;
      });
    </script>
  </body>
</html>
