<!DOCTYPE html>
<html lang="en-US">
  <script src="angular.js"></script>

  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      First Name: <input type="text" ng-model="firstName" /><br />
      Last Name: <input type="text" ng-model="lastName" /><br />
      <br />
      Full Name: {{ firstName + " " + lastName }}
    </div>

    <script>
      var app = angular.module("myApp", []);

      app.controller("myCtrl", function($scope) {});
    </script>
  </body>
</html>
