<html>
  <head>
    <script src="angular.js"></script>
  </head>

  <body ng-app="myapp">
    <div>Root color is {{ color }}</div>

    <div ng-controller="mycontroller">div color is {{ color }}</div>
    <div>color is {{ color }}</div>
  </body>
  <script>
    let app = angular.module("myapp", []);

    app.run(function($rootScope) {
      $rootScope.color = "red";
    });

    app.controller("mycontroller", $scope => {
      $scope.color = "blue";
    });
  </script>
</html>
