<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="myapp" ng-controller="mycontroller">
      <select
        name=""
        ng-model="selectedName"
        id=""
        ng-options="x for x in nm"
      ></select>

      <select name="" id="">
        <option value="{{ x.id }}" ng-repeat="x in names">{{ x.name }}</option>
      </select>

      <p>
        for first select box:

        {{ selectedName }}
      </p>
    </div>
  </body>
  <script>
    let app = angular.module("myapp", []);

    app.controller("mycontroller", $scope => {
      $scope.nm = ["asad", "danish", "usam"];

      $scope.names = [
        { name: "danish", id: 1 },
        { name: "asad", id: 2 },
        { name: "usama", id: 3 }
      ];
    });
  </script>
</html>
