<html>
  <head>
    <script src="angular.js"></script>
  </head>

  <body ng-app="myapp" ng-controller="mycontroller">
    div {{ url }}
  </body>

  <script>
    let app = angular.module("myapp", []);

    app.controller("mycontroller", ($scope, $location) => {
      $scope.url = $location.absUrl();
    });
  </script>
</html>
