<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="angular.js"></script>
    <style>
      table tr:nth-child(odd) td {
        dislay: none;
      }
    </style>
  </head>

  <body style="background-color:lightgrey;">
    <div ng-app="myapp" ng-controller="mycontroller">
      <table>
        <th>
          S.NO
        </th>
        <th>
          Name
        </th>
        <tr ng-repeat="x in names">
          <td ng-if="$odd" style="background-color:#f1f1f1">
            {{ $index + 1 }}
          </td>
          <td ng-if="$even">
            {{ $index + 1 }}
          </td>
          <td ng-if="$odd" style="background-color:green;">
            {{ x | uppercase }}
          </td>
          <td ng-if="$even">{{ x | uppercase }}</td>
        </tr>
      </table>
    </div>
  </body>
  <script>
    let app = angular.module("myapp", []);

    app.controller("mycontroller", $scope => {
      $scope.names = ["danish", "aftab", "usman", "asad", "usama", "junaid"];
    });
  </script>
</html>
